@page "/orders/{orderId:int}"
@inject IOrderService OrderService

@if (_order == null)
{
    <span>Loading order...</span>
}
else
{
    <h3>Order from @_order.OrderDate</h3>
    <div>
        @foreach (var product in _order.Products)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@product.ImageUrl" class="image"/>
                </div>
                <div class="name">
                    <h5><a href="/product/@product.ProductId">@product.Title</a></h5>
                    <span>@product.ProductType</span>
                    <br/>
                    <span>Quantity: @product.Quantity</span>
                </div>
                <div class="product-price">$@product.TotalPrice</div>
            </div>
        }
        <div class="product-price">Total: $@_order.TotalPrice</div>
    </div>
}

@code {
    [Parameter]
    public int OrderId { get; set; }

    OrderDetailsResponse? _order;

    protected override async Task OnInitializedAsync()
    {
        _order = await OrderService.GetOrderDetails(OrderId);
    }

}
